@media screen and (max-width: 1850px) {
    body {
        background-color: aqua;
    }
    .tema1{
        background-color: azure;
        width: 50%;
    }
    .tema2{
        background-color: goldenrod;
        width: 50%;
    }
}

@media screen and (max-width: 1550px) {
    body {
        background-color: rebeccapurple;
    }
    .tema1{
        background-color: darkcyan;
        width: 50%;
    }
    .tema2{
        background-color: salmon;
        width: 50%;
        font-size: 20px;
    }
}

@media screen and (max-width: 1000px) {
    body {
        background-color: burlywood;
    }
    .tema1{
        background-color: khaki;
        width: 50%;
    }
    .tema2{
        background-color: white;
        width: 50%;
    }
}

@media screen and (max-width: 672px) {
    .contenedor{
        display: flex;
        flex-direction: column;
    }
    .tema1{
        background-color: gray;
        width: 100%;
        border: 3px solid;
    }
    .tema2{
        background-color: goldenrod;
        width: 100%;
        border: 3px solid;
    }
}